<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Info</title>
</head>
    <body>
        <form>
            <p>Name:</p>
            <input type = 'text' name = 'name'>
            <p>Title:</p>
            <input type = 'text' name = 'title'>
            <p>Phone:</p>
            <input type = 'text' name = 'phone'>
            <p>Email:</p>
            <input type = 'text' name = 'email'>
            <p>Company:</p>
            <input type = 'text' name = 'name'>
            <p>City:</p>
            <input type = 'text' name = 'title'>
            <p>Address:</p>
            <input type = 'text' name = 'phone'>
            <p>Unit #:</p>
            <input type = 'text' name = 'email'>
        </form>
        <a href = '/print'>
            <button onclick = print_or_dig()>Done?</button>
        </a>
    </body>
</html>